<div class="columns is-centered is-gapless">
  <div class="column is-half account">

    <div class="account-info">
      <%# account background picture %>
      <div class="account-info__top-image"></div>

      <div class="account-info__container">
        <%# account icon image %>
        <%# <div>account icon</div> %>
        <div class="account-info__basics">
          <div class="account-info__name"><%= current_user.member.name %></div>
          <div class="account-info__id">@<%= current_user.member.slug%></div> 
        </div>
        <div>
          <%= current_user.member.intro %>
        </div>
      </div>
    </div>

    <%# <div>account home tabs below...</div> %>
    <div id="account-home-tabs">
      <account-home-tabs></account-home-tabs>
    </div>

  </div>
</div>
