<%= button_to 'ログアウト', "sign_out", method: :get %>
<div class="columns is-centered is-gapless">
  <div class="column is-half account">

    <div class="account-info">
      <%# account background picture %>
      <div class="account-info__top-image"></div>

      <div class="account-info__container">
        <%# account icon image %>
        <%# <div>account icon</div> %>

        <div class="account-info__basics">
          <div class="account-info__name">Kobashiri Tora</div>
          <div class="account-info__id">@tora3</div>
        </div>
        <div>
          OURのエンジニア。普段はハイクラス向けの求人情報掲載ベンチャーで勤務しています。
          趣味はフリーロッククライミングとスカイダイビングです。
          愛読書: 影響力の武器, 実践Vimなど。良書があれば是非教えてください。
        </div>
      </div>
    </div>

    <%# <div>account home tabs below...</div> %>
    <div id="account-home-tabs">
      <account-home-tabs></account-home-tabs>
    </div>

  </div>
</div>
